/.vs
*.exe
*.log
*.bin
*.apk
/Library/
/build
/Temp/
/Assets/VSCode*
/Assets/Music
/obj/
/out
/.vscode/
/Logs/
*.sln
*.userprefs
*.csproj
/.idea
*.iml
*.DotSettings.user
/Assets/Plugins/Editor/JetBrains*
